#chatroom {
	width: 490px;
	height: 220px;
	background-color: white;
}

.chat {
	display: block;
}

#all_messages {
	width: 490px;
	height: 200px;
	background-color: linen;
}

.login {
	max-width: 300px;
	min-width: 300px;
}

.landing {
	min-height: 100%;
	min-width: 100%;
	background-color: #cce2ff;
}

canvas {
	border: 1px black solid;
}

.player {
	max-width: 50px;
}
